a {
  color: inherit;
  opacity: 0.8;
}

.header {
  background-color: var(--black);
  padding-bottom: 2em;
}

.header__text {
  color: #fff;
  text-align: end;
  padding: 0 1em;
}

.img {
  max-width: 100%;
}

.section {
  border-bottom: 3px solid var(--black);
  padding: 1em;
  text-align: center;
}

.section__title {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee;
  margin: 0 auto;
  max-width: 350px;
}
