a {
  color: inherit;
  opacity: 0.8;
}

.footer {
  padding: 1rem 1rem 4rem;
  text-align: end;
}

.header {
  background-color: var(--black);
  padding-bottom: 2em;
}

.header__text {
  color: var(--white);
  text-align: end;
  padding: 0 1em;
}

.img {
  max-width: 100%;
}

.menu {
  background: var(--gray--bright);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
  text-align: end;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: all 0.1s;
  min-width: 60%;
}

html[is-menu-open="true"] .menu {
  transform: none;
}

.menu__entry {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.menu__entry:not(:last-of-type) {
  border-bottom: 3px solid var(--gray);
}

.menu-btn {
  background: var(--gray--bright);
  border-radius: 1px 0 0 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  z-index: 1;
}

.menu-btn::after {
  content: "";
  background-image: url(../images/menu.svg);
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.5em;
  margin-left: 1em;
  width: 2em;
}

.section {
  border-bottom: 3px solid var(--black);
  padding: 1em 1em 3em;
  text-align: center;
}

.section__title {
  text-transform: uppercase;
}

.wrapper {
  background-color: var(--white);
  margin: 0 auto;
  max-width: 350px;
  position: relative;
}
