a {
  color: inherit;
  opacity: 0.8;
}

.header {
  background-color: var(--black);
  padding-bottom: 2em;
}

.header__text {
  color: #fff;
  text-align: end;
  padding: 0 1em;
}

.img {
  max-width: 100%;
}

.wrapper {
  background-color: #eee;
  margin: 0 auto;
  max-width: 350px;
}
