@import url("https://fonts.googleapis.com/css2?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif");

* {
  font-family: "PT Serif";
  font-size: var(--font-size-01);
}

body {
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3,
.button {
  font-family: "Fira Sans";
}

h2 {
  font-size: var(--font-size-02);
  text-transform: uppercase;
}

p {
  text-align: start;
}

html {
  --blue: #0d248d;
  --black: #010519;
  --dark-gray: #040b2f;
  --gray: #4f567d;
  --gray--semi-bright: #bbbdc3;
  --gray--bright: #e2e3e9;
  --white: #f1f1f3;

  --font-size-00: 0.8rem;
  --font-size-01: 1rem;
  --font-size-02: 1.3rem;
  --font-size-03: 1.6rem;
  --font-size-04: 2.1rem;
  --font-size-05: 2.6rem;
  --radius: 0.5rem;
  --gap: 0.3rem;

  background-color: var(--dark-gray);
  color: var(--black);
}
